:root {
    --charcoal-black: rgb(34,34,34);
    --dark-gray: rgba(77, 77, 77, 50);
    --light-gray: rgba(217, 217, 217, 50);
    --dark-blue: rgba(0, 48, 108);
    --light-blue: rgba(12, 120, 194);
    --light-yellow: rgba(255, 242, 204);
    --excel-green: rgb(33,115,70);
    --white: rgb(233, 229, 219);
    --white-font: white;
}

/* ===================== START OF LANDING PAGE ===================== */

.landing-container {
    display: flex;
    width: 90%;
    margin: auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.landing-header {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-blue);
    color: var(--white-font);
    padding: 10px 0;
    text-align: center;
}

.landing-header h1 {
    float: left;
    margin: 0;
}

.landing-header nav {
    float: right;
}

.landing-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.landing-header nav ul li {
    display: inline;
    margin-left: 30px;
}

.landing-header nav ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-font);
    transition: all 0.3s ease-in-out;
    position: relative;
}

.landing-header nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--white-font);
    transition: width 0.3s ease;
}

/* Hover effects */
.landing-header nav ul li a:hover {
    color: var(--white-font);
    transform: scale(1.1);
}

.landing-header nav ul li a:hover::after {
    width: 100%;
}


/* Body Styling */
.landing-body {
    text-align: center;
    background-color: var(--charcoal-black);
    min-height: 100vh;
}

.nav-links {
    font-family: 'Orbitron', Arial, sans-serif;
    font-size: 38px;
    font-weight: 500;
    color: white;
    margin-bottom: auto;
    margin: 0 90px 5px 0;
}

.nav-links a {
    position: relative;
    color: white;
    padding: 10px 10px 15px 10px;
    text-decoration: none;
    background-image: linear-gradient(200deg, var(--dark-gray) 0%, var(--dark-blue) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.25em;
    background-position: bottom;
    transition: all 0.25s ease-in;
}

.nav-links a:hover {
    background-size: 100% 100%;
    padding: 10px 102px 15px 20px;
    border-radius: 8px;
}

/* ===================== START OF TICKER SCROLLING ===================== */

.ticker-container {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    color: #fff;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}

#ticker-header {
    background-color: var(--light-blue);
    border-radius: 0 8px 4px 0;
    display: flex;
    padding: 10px 10px 10px 15px;
    height: 100%;
    width: 150%;
    z-index: 100;
}

.ticker-content {
    display: inline-block;
    white-space: nowrap;
    padding: 10px 0;
}

.ticker-item {
    display: inline-block;
    padding: 0 20px;
}

.submitFeedback {
    position: absolute;
    right: 5%;
    top: 2%;
}

/* Ticker scroll handling */
@keyframes scroll {
    0% {
        transform: translate(25%);
    }
    100% {
        transform: translate(-100%);
    }
}