<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP LINK BELOW -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- GOOGLE FONTS LINKS BELOW -->
    <!-- CHART.JS LINK BELOW -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <!-- CSS REFERENCE BELOW -->
    <link rel="stylesheet" href="../static/css/meta.css" />
    <title>Stock Profile</title>
</head>
<body class="meta-body">
    <header id="meta-header">
        <div class="left-header-buttons">
            <a class="btn btn-primary fa fa-home" type="button" href="/" title="Home" style="margin-right: 12px; font-size: 22px;"></a>
        </div>
        <h1>Stock Profile Page</h1>
        <div class="right-header-buttons">
            <a class="btn btn-primary" type="button" href="/" title="PLACEHOLDER" style="margin-right: 12px;">Placeholder</a>
            <button class="btn btn-primary" type="button" id="editButton" onclick="enableEdit()">Edit</button>
            <button class="btn btn-primary" type="button" id="cancelButton" onclick="enableCancel()">Cancel</button>
            <button class="btn btn-primary" type="button" id="saveButton" onclick="saveMeta()">Save</button>
        </div>
    </header>
    <div class="container-fluid" style="width: 100%;">
        <div class="row" style="width: 100%;">
            <div class="col-md-4 two-cards">
                <div class="card mb-3" id="main-profile-card">
                    <div id="image-container">
                        <img class="card-img-top" id="ticker-image" src="../static/css/img/stock-img.jpg" alt="Ticker Image">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            <select name="meta-stock" id="meta-stock">
                                <!-- stock data being loaded from js -->
                            </select>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="card-subtitle mb-2 text-muted" style="margin-left: 2px;" id="meta-detail">
                            <ul>
                                <li>
                                    <div>Full Time Employees:&nbsp;</div>
                                    <input class="edit-field" id="employees" readonly>
                                        <!-- dynamically being loaded from js -->
                                    </input>
                                </li>
                                <li>
                                    <div>Website:&nbsp;</div>
                                    <div id="website" style="overflow: hidden;"></div>
                                </li>
                                <li>
                                    <div>Industry:&nbsp;</div>
                                    <input class="edit-field" id="industry" readonly>
                                        <!-- dynamically being loaded from js -->
                                    </input>
                                </li>
                                <li>
                                    <div>Sector:&nbsp;</div>
                                    <input class="edit-field" id="sector" readonly>
                                        <!-- dynamically being loaded from js -->
                                    </input>
                                </li>
                                <li>
                                    <div>Trailing P/E Ratio:&nbsp;</div>
                                    <input class="edit-field" id="pe-ratio" readonly>
                                        <!-- dynamically being loaded from js -->
                                    </input>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="card-title">Business Summary</h3>
                        <textarea class="edit-field" id="business-summary" type="text" readonly></textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-4 four-cards">

                <div class="card mb-3">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <h3>Forecast Summary</h3>
                        </div>
                        <div class="card-subtitle mb-2 text-muted" style="margin-left: 2px;">
                            <div class="container">
                                <div class="row">
                                    <div class="col" id="forecast-header"><h5>Cost Data</h5></div>
                                    <div class="col" id="forecast-header"><h5>Return Data</h5></div>
                                </div>
                                <div class="row">
                                    <div class="col" id="cost-grid"></div>
                                    <div class="col" id="percent-grid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <h3>Forecast Summary</h3>
                        </div>
                        <!-- Start of the DataTable render -->
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-striped" id="forecast-table">
                                    <thead>
                                        <tr>
                                            <th>Year</th>
                                            <th>Revenue</th>
                                            <th>Revenue Growth</th>
                                            <th>COGS</th>
                                            <th>Oper Exp</th>
                                            <th>EBIT</th>
                                            <th>Plus D&A</th>
                                            <th>Less Taxes</th>
                                            <th>Less CAPEX</th>
                                            <th>Less NWC Change</th>                                            
                                            <th title="Net of fiscal year fraction">Net FCF</th>
                                            <th>ROS</th>
                                        </tr>
                                    </thead>
                                    <tbody id="income-forecast-grid">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End of the DataTable -->
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <h3>Income Statement</h3>
                        </div>
                        <!-- Start of the DataTable render -->
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-striped" id="forecast-table">
                                    <thead>
                                        <tr>
                                            <th>Year</th>
                                            <th>Revenue</th>
                                            <th>COGS</th>
                                            <th>Gross Profit</th>
                                            <th>Total Expenses</th>
                                            <th>EBIT</th>
                                            <th>Net Income</th>
                                            <th title="Basic EPS">EPS</th>
                                            <th>ROS</th>
                                        </tr>
                                    </thead>
                                    <tbody id="income-statement-grid">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End of the DataTable -->
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <h3>Balance Sheet: Assets</h3>
                        </div>
                        <!-- Start of the DataTable render -->
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-striped" id="forecast-table">
                                    <thead>
                                        <tr>
                                            <th>Year</th>
                                            <th>Current Assets</th>
                                            <th>Cash</th>
                                            <th>AR</th>
                                            <th>Inventory</th>
                                            <th>PPE</th>
                                            <th>Total Assets</th>
                                        </tr>
                                    </thead>
                                    <tbody id="balance-sheet-grid">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End of the DataTable -->
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <h3>Balance Sheet: Liabilities</h3>
                        </div>
                        <!-- Start of the DataTable render -->
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-striped" id="forecast-table">
                                    <thead>
                                        <tr>
                                            <th>Year</th>
                                            <th>Current Liabilities</th>
                                            <th>AP</th>
                                            <th>Current Debt</th>
                                            <th>Long Term Debt</th>
                                            <th>Total Liabilities</th>
                                        </tr>
                                    </thead>
                                    <tbody id="balance-sheet-liabilities-grid">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End of the DataTable -->
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <h3>Balance Sheet: Equity</h3>
                        </div>
                        <!-- Start of the DataTable render -->
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-striped" id="forecast-table">
                                    <thead>
                                        <tr>
                                            <th>Year</th>
                                            <th>Retained Earnings</th>
                                            <th>Common Stock</th>
                                            <th>Additional Paid-In Capital</th>
                                            <th>Shareholder's Equity</th>
                                        </tr>
                                    </thead>
                                    <tbody id="balance-sheet-equity-grid">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End of the DataTable -->
                    </div>
                </div>

            </div>

            

            <div class="col-md-4 four-cards">

                <div class="card mb-3" id="income-chart" style="display: none;">
                    <div class="card-body">
                        <h3 class="card-title">
                            Income Ratio
                            <span><a href="./ice-curve" target="_blank" style="text-decoration: none;">&#129482;</a></span>
                        </h3>
                        <canvas id="incomeChart" width="800" height="400"></canvas>
                        <!-- Bell Curve being loaded from bellCurve.js -->
                    </div>
                </div>
     
                <div class="card mb-3" id="assets-chart" style="display: none;">
                    <div class="card-body">
                        <h3 class="card-title">
                            Assets Ratio
                            <span><a href="./ice-curve" target="_blank" style="text-decoration: none;">&#129482;</a></span>
                        </h3>
                        <canvas id="assetsChart" width="800" height="400"></canvas>
                        <!-- Bell Curve being loaded from bellCurve.js -->
                    </div>
                </div>

                <div class="card mb-3" id="bell-curve" style="display: none;">
                    <div class="card-body">
                        <h3 class="card-title">
                            Stock Curve
                            <span><a href="./ice-curve" target="_blank" style="text-decoration: none;">&#129482;</a></span>
                        </h3>
                        <canvas id="bellCurveChart" width="800" height="400"></canvas>
                        <!-- Bell Curve being loaded from bellCurve.js -->
                    </div>
                </div>



                <div class="card mb-3">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <h3>Cash Flow</h3>
                        </div>
                        <!-- Start of the DataTable render -->
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-striped" id="forecast-table">
                                    <thead>
                                        <tr>
                                            <th>Year</th>
                                            <th>Operating Gains/Loss</th>
                                            <th>Depr Amort</th>
                                            <th>Change in NWC</th>
                                            <th>Operating CF</th>
                                            <th>CAPEX</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cash-flow-grid">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End of the DataTable -->
                    </div>
                </div>



            </div>
        </div>
    </div>    
</body>
<footer id="meta-footer">
    <div class="footer-icon">
        <a href="/" target="_blank" rel="noopener no-referrer">
            <img src="#" alt="Test">
        </a>
        <p>All Rights Reserved</p>
    </div>
    <div class="submitFeedback" id="footer-feedback">
        <a class="btn btn-outline-secondary" target="_blank" href="/feedback">Submit Feedback</a>
    </div>
</footer>
<script>
    const metaData = {{ metadata | tojson }};
    const forecastData = {{ forecast_data | tojson }};
    const financialForecastData = {{ financial_forecast_data | tojson }};
    const incomeData = {{ income_data | tojson }};
    const bsData = {{ balance_sheet_data | tojson }};
    const cfData = {{ cash_flow_data | tojson }};
</script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/jstat/1.9.5/jstat.min.js integrity="sha512-MGT8BGoc8L3124PwHEGTC+M8Hu9oIbZOg8ENcd92sQKKidWKOOOZ6bqQemqYAX0yXJUnovOkF4Hx9gc/5lVxPw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/js/utils.js"></script>
<script src="../static/js/bellCurve.js"></script>
<script src="../static/js/assetsChart.js"></script>
<script src="../static/js/meta.js"></script>
</html>